body {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 244, 253);
}

header {
    height: 45px;
    line-height: 45px;
    color: white;
    background-color: #000;
    padding-right: 10px;
}

.logo {
    display: inline;
    margin-left: 10px;
    color: rgb(255, 255, 255);
}

.menu {
    display: inline;
    float: right;
}

.menu-nav {
    display: inline;
}

.ul-nav {
    display: inline;
}

.ul-nav li {
    display: inline;
    text-transform: uppercase;
}

.ul-nav a {
    color: white;
    text-decoration: none;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #000;
    color: white;
    text-align: center;
}

.prod {
    margin: 15px 15px;
    text-align: center;
    
}

.box-prod {
    height: 300px;
    width: 250px;
    margin-right: 40px;
    display: inline-block;
    
}

.new {
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 30px;
    margin: 5px 5px;
    box-shadow: 1px;
    background-color: #16a085;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 10px;
    float: left;
    position: absolute;
}

.reduction {
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 30px;
    margin: 5px 5px;
    box-shadow: 1px;
    background-color: #ed1c24;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 10px;
    float: right;
}

.img-prod {
    height: 300px;
    width: 250px;
    background-size: cover;
}

.call {
    text-align: center;
}

.prix {
    color: #16a085;
    font-weight: bold;
}

.old-prix {
    color: grey;
    font-size: 12px;
}

.btn-call {
    padding: 5px 5px;
    color: gray;
    font-weight: bold;
    background-color: white;
    border: 1px #edd3d3 solid;
}

.btn-call:hover {
    padding: 5px 5px;
    color: white;
    font-weight: bold;
    background-color: rgb(179, 5, 135);
}

.mb-5 {
    margin: 5px;
}
